/*home page*/

.col img {
    width: 100%;
}

.home h1 {
	color: #000;
	font-size: 28px;
	line-height: 40px;
    letter-spacing: 1px;
}

.home h2 {
	color: #777;
	font-size: 14px;
    line-height: 22px;
}

a.look {
    color: #000;
    font-size: 1rem;
    letter-spacing: 1.6px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
	padding-bottom: 3px;
}

a.look:hover {
    color: #000;
    border-bottom: 2px solid #000;
}
