/*general*/
@font-face {
    font-family: Graphik;
    font-weight: 100;
    src: url(/assets/fonts/Graphik-Regular-Web.woff2) format("woff2");
}

:root {
    --dark: #232323;
}

html {
    min-width: 300px;
}

html::-webkit-scrollbar {
  width: 0;
}

body {
    font-family: Graphik;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    color: var(--dark);
}

h1 {
    font-weight: 100;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button.btn {
    border-radius: 0;
}

button.btn:focus {
    box-shadow: none !important;
}

button.btn-close:focus {
    box-shadow: none !important;
}

.no-margine {
    margin: 0;
}

.black-border {
    border: solid 1px #c3c3c3;
}

.scaleup-on-hover {
    transition: all 0.1s ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.scaleup-on-hover:hover {
    transition: all 0.1s ease;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}





/*pagination*/
.pagination-div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: block;
    width: fit-content;
}

.pagination .page-link {
    padding: .375rem 0;
}

.pagination .page-link a {
    color: #616161;
    padding: .675rem .75rem;
}

.pagination .page-link a:hover {
    color: #000;
}

.page-item.active .page-link {
    background-color: #616161;
    border-color: #616161;
    padding: .375rem .75rem;
}

.page-item.active .page-link:hover {
    background-color: #616161;
    border-color: #616161;
}


/* card */
a .card {
    color: #000;
}

a .card:hover {
    color: #000;
}


.card {
    background-color: #fff;
    border: none;
    border-radius: 0;
    text-align: center;
    
}

.brand-container .card {
    background-color: #fff;
    border: solid 1px #e6e6e6;
    border-radius: 5px;
}

.card img {
    background-color: #e6e6e6;
    border-radius: 0;

    transition: all 0.1s ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.card:hover img {
    transition: all 0.1s ease;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.brand-container .card:hover img {
    transition: all 0.1s ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.card .card-name {
    color: var(--dark);
    font-size: 1.3rem;
}

.card .card-brand {
    font-size: 1.1rem;
}

.card .card-price {
    font-size: 1.2rem;
}




/* sort and filters */

.filters .sortbtn {
    /*display: block;*/
    border: none;
    padding: 5px 10px;
    width: 100%;
    text-align: left;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.filters button .arrow {
    /*margin-right: 5px;*/
    transition: transform 0.35s ease;
    color: #c3c3c3;
}

.filters button[aria-expanded='true'] .arrow {
    transform: rotate(90deg);
}

.filters .list-group {
    border-radius: 0;
    border: none;
}

.filters .list-group .list-group-item {
    border: none;
    border-radius: 0;
}


.form-check-input {
    background-color: #fff;
    border-color: var(--dark);
    margin-top: 2px;
    height: 20px;
    width: 20px;
}

.form-check-input[type=checkbox] {
    border-radius: 0;
}


.form-check-input:checked {
    background-color: #fff;
    border-color: var(--dark);
}


.form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='1.7' fill='%23212529'/%3e%3c/svg%3e");
}

.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 16 16' width='16' height='16' %3e%3cpath d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/%3e%3c/svg%3e");
}

.form-check-input:focus {
    box-shadow: none !important;
    border-color: var(--dark);
}



.submitbtn {
    width: 100%;
    border-radius: 0;
    margin-bottom: 5px;
}

/* goods list */

.sale-lable {
    font-size: 13px;
    background-color: #ff4040;
    border-radius: .25rem;
    color: #fff;
    padding: 0px 2px;;
    position: absolute; 
    left: 5px; 
    top:5px; 
}

button.btn.like {
    background-repeat: no-repeat;
    background-position-y: center;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23232323" viewBox="0 0 16 16"><path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path></svg>');
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 0.25rem;
    padding: 0;
    z-index: 1;
    position: absolute;
    top: 6px;
    right: 4px;
    transform: translateX(-100%);
    user-select: none;

}

button.btn.like:hover {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23ff4040" viewBox="0 0 16 16"><path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path></svg>');
}

button.btn.like.active {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23ff4040" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>');
      
}

#addToLike svg path.active {
    display: none;
}

#addToLike svg path.notactive {
    display: block;
}

#addToLike.active svg path.active {
    display: block;
}

#addToLike.active svg path.notactive {
    display: none;
}

/* sign up */

.signup-container {
    border-radius: 0;
}
/*
.signup-container input {
    border-radius: 0;
}

.signup-container textarea {
    border-radius: 0;
}*/

.signup-container button#submitBtn {
    /*border-radius: 0;*/
    margin: auto;
    display: flex;
}

.btn-outline-dark:focus {
    box-shadow: none;
}

/*
.signup-container .form-control {
    border-color: var(--dark);
}*/

.signup-container .form-control:focus {
    /*border-color: var(--dark);*/
    box-shadow: none !important;
}

.signup-container .form-check-input[type=checkbox] {
    border-radius: 0;
    border: solid 1px var(--dark);
    background-color: #fff;
}
/*
.signup-container .form-check-input:valid~.form-check-label {
    color: var(--dark);
}

.signup-container .form-check-input:valid:checked {
    border: solid 1px var(--dark);
    background-color: #fff ;
}*/


/* item page */

.list-group-item.active {
    color: #41464b;
    background-color: #e2e3e5;
    border-color: #e2e3e5;
}

.add-to-cart-animation {
    animation: anim 1s ease forwards;
}

@keyframes anim {
  0% {
    transform: scale(1, 1);
    
  }
  50%, 55% {
    transform: scale(1.4, 1.4);
    
  }
  100% {
    transform: scale(1, 1);
  }
}

#cartSelect {
    outline: none;
    appearance: auto;
    -webkit-appearance: auto;
    height: 100%;
}

#addToLike {
    padding-left: 0; padding-right: 0;
}

/*===========================================================================================================*/
